@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Search a location to get the current weather.</p>
</div>

<div class="container" style="display:flex; padding:15px; border-spacing:15px;">
   <table id="records">
       <tr id="topRow">
           <th>Location</th>
           <th>Time</th>
           <th>Weather</th>
           <th>Temperature (F)</th>
           <th>Interact</th>
       </tr>
   </table>

</div>