@{
    Layout = null;
}

<div class="modal-dialog">
    <form>
        <h1>Search Address</h1>
        <label for="stnumber"><input type="number" /></label>
        <label for="staddress"><input type="text" /></label>
        <label for="state"><input type="text" /></label>
        <button type="button" class="butn btn-primary" data-dismiss="modal">Close</button>
    </form>    

</div>